<div class="card">
    <div class="card-header">
        <h3 class="card-title" style="font-size:30px">List Posts</h3>
        <!--<h3 class="card-title" style="font-size:30px">{{dateFrom}}</h3>
        <h3 class="card-title" style="font-size:30px">{{dateTo}}</h3>-->

        <button type="button" class="btn btn-success float-right" ui-sref="post_add">Create</button>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <div class="row">
            <div class="col col-md-2">
                <input type="date" class="form-control" ng-model="dateFrom">
            </div>


            <div class="col col-md-2">
                <input type="date" class="form-control" ng-model="dateTo">
            </div>

            <div class="col col-md-3">
                <select name="category" class="form-control" id="category" ng-model="classify" ng-options="option.id as option.name for option in listCategories">
                    <option value="">
                        All category
                    </option>
                </select>
                <input type="hidden" name="category" ng-model="classify">
            </div>

            <div class="col col-md-5">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Enter title..." aria-label="Recipient's title" aria-describedby="basic-addon2" ng-model="filter">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" ng-click="getListPosts()">Search</button>
                    </div>
                </div>
            </div>

        </div>

        <table class="table table-bordered table-striped text-center">
            <thead>
                <tr class="bg-gradient-dark">
                    <th style="width: 5%">ID</th>
                    <th style="width: 45%">Title</th>
                    <th style="width: 12%">Image</th>
                    <th style="width: 10%">Category</th>
                    <th style="width: 10%">Create Date</th>
                    <!--<th style="width: 12%">Account Name</th>-->
                    <th style="width: 3%">Published</th>
                    <th style="width: 15%">Action</th>
                    <!--<th style="width: 30%">Biref Content</th>-->
                    <!--<th style="width: 50%">Content</th>-->
                    <!--<th style="width: 10%">Update Date</th>-->
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="post in listPosts">
                    <td>{{post.id}}</td>
                    <td>{{post.title}}</td>
                    <td>
                        <img src="{{post.image}}" style="width: 100px; height: 50px" alt="Error Image" />
                    </td>
                    <td>
                        <div class="dropdown">
                            <button type="button" class="btn btn-sm btn-dark" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="opacity: 80%">
                                Show <span class="badge badge-light">{{post.listCategoriesName.length}}</span>
                                <span class="sr-only">unread messages</span>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <span class="dropdown-item border" ng-repeat="category in post.listCategoriesName">
                                    {{category}}
                                </span>
                            </div>
                        </div>
                    </td>
                    <td>{{post.createDate | date : 'dd/MM/yyyy hh:mm:ss'}}</td>
                    <!--<td>{{post.accountName}}</td>-->
                    <td>
                        <span ng-class="{'badge bg-gradient-green': post.published == true, 'badge bg-gradient-red': post.published == false}" style="font-size: 14px">{{post.published | statusFilter}}</span>
                    </td>
                    <td>
                        <button class="btn btn-sm btn-primary" ui-sref="post_edit({id:post.id})">
                            <i class="fa fa-pen"></i>
                        </button>
                        <button class="btn btn-sm btn-danger" ng-click="deletePost(post.id)">
                            <i class="fa fa-trash"></i>
                        </button>
                        <button class="btn btn-sm btn-info" ui-sref="post_detail({id:post.id})">
                            <i class="fa fa-info-circle"></i>
                        </button>
                    </td>

                    <!--<td>{{post.briefContent}}</td>-->
                    <!--<td>{{post.content}}</td>-->
                    <!--<td>{{post.updateDate | date : 'dd/MM/yyyy'}}</td>-->

                </tr>

            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
    <pagination-directive show-to="{{showTo}}" show-from="{{showFrom}}" show-end="{{showEnd}}" page="{{page}}" custom-path="{{customPath}}" pages-count="{{pagesCount}}" total-count="{{totalCount}}" search-func="getListPosts(page, classify)"></pagination-directive>
</div>


