<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title" style="font-size: 30px">Create Role</h3>
    </div>

    <form novalidate name="frmAddRole" role="form" ng-submit="addRole()">
        <div class="card-body">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" name="name" class="form-control" id="name" placeholder="Enter name" required ng-model="role.name">
                <span class="text-danger" ng-show="frmAddRole.name.$invalid">Please enter name</span>
            </div>

        </div>
        <!-- /.card-body -->
        <div class="card-footer">
            <button class="btn btn-success" ng-disabled="frmAddRole.$invalid">Create</button>

            <button class="btn btn-default float-right" ui-sref="role_list">Cancel</button>

        </div>
    </form>
</div>
<!-- /.card -->